body {
  padding-bottom: 0;
  * {
    font-family: "Poppins", "Lato", sans-serif;
  }
}
h2 {
  &.calc-title-parts {
    color: rgb(33, 37, 41);
    font-size: calc(1.325rem + 0.9vw);
  }
  strong {
    color: rgb(33, 37, 41);
  }
}
.calc-btn {
  margin-bottom: 0;
  margin-right: 0;
}
#brand-invite-shop-btn-text {
  font-size: 1.1rem;
}
#brand-wrapper {
  padding-bottom: 10rem;
}
#calc-title {
  font-size: 3rem;
  color: rgb(33, 37, 41);
}
#root {
  width: 100%;
  height: 100%;
}
