$blackishFont: rgb(33, 37, 41);
body {
  padding-bottom: 0;
  * {
    font-family: "Poppins", "Lato", sans-serif;
  }
}
h2 {
  &.calc-title-parts {
    color: $blackishFont;
    font-size: calc(1.325rem + 0.9vw);
  }
  strong {
    color: $blackishFont;
  }
}
main {
  &#main {
    margin-top: 7.5rem;
  }
}
.btn {
  &#brand-invite-shop-btn {
    margin-right: 0 !important;
  }
}
.calc-btn {
  margin-bottom: 0;
  margin-right: 0;
}
.col-inner {
  > p {
    &:has(br),
    &:has(meta),
    &:has(script),
    &:has(link) {
      display: none !important;
    }
  }
}
#brand-invite-sect {
  #brand-invite-header {
    color: $blackishFont;
  }
}
#brand-invite-shop-btn-text {
  font-size: 1.1rem;
}
#brand-wrapper {
  padding-bottom: 10rem;
  width: 100% !important;
  #brand-invite-sect {
    #brand-invite-body {
      #brand-invite-subtitle-wrapper {
        padding-left: 0.3rem;
      }
    }
  }
}
#calc-title {
  font-size: 3rem;
  color: $blackishFont;
}
#developer-div {
  display: flex;
  flex-flow: row nowrap;
  font-size: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  #developed-title {
    width: 10rem;
  }
  #development {
    width: 5.5rem;
  }
  .bi-github {
    transform: scale(1) translateY(-3px);
  }
}
#kits-wrapper {
  .kit-title {
    color: $blackishFont;
    width: 90% !important;
    text-align: center !important;
    padding-right: 5%;
    min-height: 3.125rem;
  }
}
#root {
  width: 100%;
  height: 100%;
}
#soilQuant {
  &::placeholder {
    color: #a19f9f;
  }
}
@media screen and (min-width: 536px) {
  #kits-wrapper {
    .kit-title {
      &#titleCootsSoil,
      &#titlegynetcs {
        padding-right: 13.5%;
      }
    }
  }
}
