$blackishFont: rgb(33, 37, 41);
body {
  padding-bottom: 0;
  * {
    font-family: "Poppins", "Lato", sans-serif;
  }
}
h2 {
  &.calc-title-parts {
    color: $blackishFont;
    font-size: calc(1.325rem + 0.9vw);
  }
  strong {
    color: $blackishFont;
  }
}
.calc-btn {
  margin-bottom: 0;
  margin-right: 0;
}
#brand-invite-sect {
  #brand-invite-header {
    color: $blackishFont;
  }
}
#brand-invite-shop-btn-text {
  font-size: 1.1rem;
}
#brand-wrapper {
  padding-bottom: 10rem;
}
#calc-title {
  font-size: 3rem;
  color: $blackishFont;
}
#kits-wrapper {
  .kit-title {
    color: $blackishFont;
    width: 90% !important;
    text-align: center !important;
    padding-right: 5%;
    min-height: 3.125rem;
  }
}
#root {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 536px) {
  #kits-wrapper {
    .kit-title {
      &#titleCootsSoil,
      &#titlegynetcs {
        padding-right: 13.5%;
      }
    }
  }
}
